.polynomial-input-element {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
}

.polynomial-input-element > p {
    display: inline-block;
    position: absolute;
    right: 60%;
    font-size: 26px;
    transform: translate(0, -50%);
    top: 50%;
}

.polynomial-input-element > input {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 0;
    padding-left: 10px;
}

.polynomial-element {
    display: inline-block;
    width: 30px;
    height: 80px;
    position: relative;
}

.polynomial-element > p {
    transform: translate(-50%, -50%);
    font-size: 26px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
}
